# Node 3 - Payment Gateways and Strategies Server (in production: 10GbE LAN)
Node3Adapter.Endpoints=default -h localhost -p 10006
Ice.ThreadPool.Server.Size=4
Ice.ThreadPool.Server.SizeMax=32

# Required socket: notificarResultadoPago (provided by the context on Node 2)
ApexStore.Callback.Proxy=PaymentProcessor:default -h localhost -p 10005
